body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile-image {
margin: 10 px;
padding:10px;

}

section {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}